.testimonial-container {
	background-color: #495e57;
	padding: 20px;
}

.testimonial-heading {
	color: #f4ce14;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px;
}

.rating {
	display: flex;
	justify-content: center;
	gap: 10rem;
}

.testimonial {
	background-color: #fff;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 8px;
}

.testimonial img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.testimonial-rating {
	color: gold;
	margin-top: 10px;
}

.testimonial h3,
.testimonial p {
	margin: 10px 0;
}

/* Media Queries */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
	.testimonial-container {
		padding: 10px;
	}

	.rating {
		gap: 5rem;
	}
}

/* Medium devices (between 576px and 992px) */
@media (min-width: 577px) and (max-width: 992px) {
	.rating {
		gap: 8rem;
	}

	.testimonial img {
		width: 80px;
		height: 80px;
	}

	.testimonial h3,
	.testimonial p {
		font-size: 14px;
	}
}

/* Large devices (above 992px) */
@media (min-width: 993px) {
	.rating {
		gap: 10rem;
	}

	.testimonial img {
		width: 120px;
		height: 120px;
	}

	.testimonial h3,
	.testimonial p {
		font-size: 18px;
	}
}
