
.nav {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  .logo {
    margin: 40px;
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0 5px;
    color: #f4ce14;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links:hover {
    background-color: #495e57;
    color: white;
  }
  
  .nav-links:not(:last-child) {
    margin-right: 10px;
  }